<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>

    <div>
      <form action="/user/login" method="POST">
        <label>Email</label>
        <input
          type="text"
          required
          name="email"
          placeholder="example@example.com"
        />
        <br />
        <label>Password</label>
        <input
          type="password"
          required
          name="password"
          placeholder="Password"
        />
        <br />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
